header{
  background-color: #509bee;
  //background-image: linear-gradient(142deg, #33dcd7, #33c5dc 31%, #33a9dc 65%, #338ddc);
  padding: 120px;
  text-align: center;
  color: white;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

footer{
  background: #2f3437;
  position: relative;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 40px;
  a{
    color: #fff;
    border: 4px solid #fff;
    font-weight: bold;
    padding: 15px;
  }
}

.group-list{
  margin-left: 0;
  li{
    line-height: 60px;
    background-color: #509bee;
    border-radius: 4px;
    padding: 15px;
    display: block;
    cursor: pointer;
    font-weight: 700;

    a{
      text-align: center;
      color: #fff;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
    a:after{
      padding-left: 15px;
      content:"\2192";
    }
  }
}

hr {
  margin: 40px 0;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: "</>";
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fff;
  }
}
